body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

#done {
	background-color: #3cb371;
} 

#todo {
	background-color: #4682b4;
}

#inprogress {
	background-color: #ffe4b5;
}

#board {
	height: 500px;
}

#board div {
	float: left;
	width: 33%;
	text-align: center;
	height: 100%;
}

#footer {
	margin-top: 30px;
}